### Exploring Numpy and Pandas

In [1]:
import numpy as np
import pandas as pd

In [3]:
np.__version__

'1.23.2'

In [4]:
cars_data = pd.read_csv('cars.csv')

In [5]:
print(cars_data.shape)

(11914, 16)

In [6]:
print(len(cars_data))

11914

In [7]:
print(cars_data.head())

  Make       Model  Year             Engine Fuel Type  Engine HP  \
0  BMW  1 Series M  2011  premium unleaded (required)      335.0
1  BMW    1 Series  2011  premium unleaded (required)      300.0
2  BMW    1 Series  2011  premium unleaded (required)      300.0
3  BMW    1 Series  2011  premium unleaded (required)      230.0
4  BMW    1 Series  2011  premium unleaded (required)      230.0

   Engine Cylinders Transmission Type     Driven_Wheels  Number of Doors  \
0               6.0            MANUAL  rear wheel drive              2.0
1               6.0            MANUAL  rear wheel drive              2.0
2               6.0            MANUAL  rear wheel drive              2.0
3               6.0            MANUAL  rear wheel drive              2.0
4               6.0            MANUAL  rear wheel drive              2.0

                         Market Category Vehicle Size Vehicle Style  \
0  Factory Tuner,Luxury,High-Performance      Compact         Coupe
1                     Luxury,Performance      Compact   Convertible
2                Luxury,High-Performance      Compact         Coupe
3                     Luxury,Performance      Compact         Coupe
4                                 Luxury      Compact   Convertible

   highway MPG  city mpg  Popularity   MSRP
0           26        19        3916  46135
1           28        19        3916  40650
2           28        20        3916  36350
3           28        18        3916  29450
4           28        18        3916  34500

In [8]:
print(cars_data['Make'].info)

<bound method Series.info of 0            BMW
1            BMW
2            BMW
3            BMW
4            BMW
          ...
11909      Acura
11910      Acura
11911      Acura
11912      Acura
11913    Lincoln
Name: Make, Length: 11914, dtype: object>

In [9]:
from collections import Counter

counter = Counter(cars_data['Make'])
print(counter.most_common(3))

[('Chevrolet', 1123), ('Ford', 881), ('Volkswagen', 809)]

In [10]:
print(cars_data[cars_data['Make'] == 'Audi']['Model'].nunique())

34

In [11]:
print(cars_data.isnull().sum())

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [12]:
print(cars_data['Engine Cylinders'].median())

6.0

In [13]:
print(cars_data['Engine Cylinders'].mode())

0    4.0
Name: Engine Cylinders, dtype: float64

In [14]:
print(cars_data['Engine Cylinders'].fillna(4.0))

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [15]:
print(cars_data['Engine Cylinders'].median())

6.0

In [16]:
X = cars_data[cars_data['Make'] == 'Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates().values
X_transpose = X.T

In [17]:
XTX = X_transpose.dot(X)

In [18]:
from numpy.linalg import inv

XTX_inv = inv(XTX)

In [19]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = XTX_inv.dot(X_transpose).dot(y)
print(w)

[  4.59494481 -63.56432501]

In [20]:
print(w[0])

4.594944810094551